@define-color col1 #bf616a;
@define-color col2 #00afb9;
@define-color col3 #faf9f9;
@define-color col4 #2e3440;
@define-color col5 #0E606B;
@define-color col6 #FFC24B;


* {
    border: none;
    /* border-radius: 0; */
    /* font-family: "Ubuntu Nerd Font"; */
    /* font-family:i "Inconsolata Medium"; */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: Inconsolata;
}

window#waybar {
    background-color: #2e3440
    
}

#language, #idle_inhibitor, #bluetooth, #network, #pulseaudio, #battery, #date, #clock, #custom-sep{
    /* margin-right: 3px; */
    /* margin-left: 3px; */
    padding: 0 4 0 4;
    font-size: 12px;
    font-weight: bold;
    color: @col3;
}

#workspaces button {
    background-color: @col4;
    font-weight: bold;
    margin: 0 0 0 0;
    border-radius: 0;
    padding-right: 10;
    padding-left: 10;
    font-size: 12px;

}
#workspaces button.focused {
    background-color: @col1;
    font-weight: bold;
    }

#window{
    font-weight: bold;
    padding: 0 10 0 10;
    background-color: @col1; 
    color: @col3;
}

#tray {
    background-color: @col4;
}

#custom-sep{
    background-color: @col4;
    font-weight: bolder;
    padding: 0 0 0 0
}

#language{
    background-color: @col4;
    margin-top: -1
}

#idle_inhibitor{
    background-color: @col4;
}

#bluetooth{
    background-color: @col4;
    /* color: #5e81ac; */
}

#network {
    background-color: @col4;
}
#network.disconnected {
    color: @col1;
}

#pulseaudio{
    background-color: @col4;
}

#battery{
    background-color: @col4;
} 
#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: @col1;
    }
}

#clock {
    background-color: @col4;
}

#custom-power{
    background-color: @col1;
    margin-right: -8
}

