@define-color darkest #121212;
@define-color dark #121212;
@define-color white #eeeeee;
@define-color accent #0087af;

* {
    color: @white;
    border: none;
    font-family: "fira";
}

window#waybar {
    background-color: @darkest;
}

#language, #idle_inhibitor, #bluetooth, #network, #pulseaudio, #battery, #date, #clock, #custom-sep, #custom-sep2, #tray {
    padding: 0 5 0 5;
    font-size: 16px;
    font-weight: bold;
}

#workspaces button {
    font-weight: bold;
    margin: 0 0 0 0;
    border-radius: 0;
    padding: 0 5 0 5;
    font-size: 14px;
}

#workspaces button.focused {
    background-color: @accent;
    font-weight: bold;
}

/* #workspaces button */

#window{
    font-weight: bold;
    font-size: 16px;
    padding: 0 10 0 10;
    background-color: @darkest; 
}

#tray {
    /* margin-right: 3px; */
}

#custom-sep{
    /* font-weight: bolder; */
    padding: 0 0 0 0
}

#custom-sep2{
    /* font-weight: bolder; */
    padding: 0 0 0 0
}

#language{
}
#idle_inhibitor{
}
#bluetooth{
}

#network {
    /* color: #c3e88d; */
}
#network.disconnected {
    color: #f07178;
}
#network.disabled {
    color: #4a4a4a;
}

#idle_inhibitor.activated {
    color: #c3e88d;
}
#idle_inhibitor.deactivated{
    color: #4a4a4a;
}
#pulseaudio.muted {
    color: #4a4a4a;
}
#battery{
} 
#battery.warning:not(.charging) {
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: @accent;
    }
}

#clock {
    /* margin-right: 1; */
}

#custom-power{
    /* margin-left: -9; */
    /* font-size: 12; */
}

#battery{
    /* margin-left: -5; */
}
#pulseaudio{
    /* margin-left: 1; */
}

#idle_inhibitor{
    /* margin-left: 0; */
    /* margin-right: -3; */
}

#language{
    /* margin-right: 1; */
}

#custom-power, #battery, #network, #idle_inhibitor, #tray{
}
#clock, #pulseaudio, #bluetooth, #language{
}

#bluetooth {
    padding: 0;
    margin: 0;
}
