#window {
background-color: #101010;
font-size: 18px;
border: 8px;
border-color: #42a5f5; 
}

#input {
color: #f5f5f5;
background-color: #101010;
border: none;
font-size: 24px;
}

#inner-box {
padding: 20px 0px 0px 0px;
}

#outer-box {
padding: 25px;
}

#scroll {
margin: 0px;
}

#text {
margin: 5px;
border: none;
color: #f5f5f5;
} 

#entry:selected {
	background-color: #42a5f5;
	font-weight: normal;
}

#text:selected {
	font-weight: normal;
}
